---
import LandingSection from '../../LandingSection.astro'
import TopFooterSection from './TopFooterSection.astro'
import BottomFooterSection from './BottomFooterSection.astro'
---

<div class='bg-theme-base relative z-[51] min-h-[300px]'>
  <LandingSection className='py-8'>
    <footer>
      <TopFooterSection/>
      <BottomFooterSection/> 
    </footer>
  </LandingSection>
</div>
