<h2 class='sr-only'>Image attribution links</h2>
<ul class="mt-8 text-theme-muted flex gap-4 flex-wrap">
	<li>
		<a target='_blank' class="hover:text-theme-base" href="https://www.freepik.com/author/vectorjuice">Hero image by vectorjuice on Freepik</a>
	</li>
	<li>
		<a
			class="hover:text-theme-base"
			title='storyset.com'
			target='_blank'
			href='https://storyset.com/online'>About us illustration by Storyset</a
		>
	</li>
</ul>
