---
import { SIDEBAR } from '../../config'

type Props = {
	currentPage: string
}

const { currentPage } = Astro.props as Props
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1)
---

<nav aria-labelledby='grid-left' class="mr-4">
	<ul class='h-screen overflow-x-visible overflow-y-auto px-4 flex flex-col gap-4 pb-32 pt-1 pl-1'>
	{
			Object.entries(SIDEBAR).map(([header, children]) => (
				<li class="w-full">
					<div class='ring-1 ring-basetext/10 p-2 rounded-md mr-2'>
						<h2 class='text-lg font-bold'>{header}</h2>
						<ul>
							{children.map((child) => {
								const url = Astro.site?.pathname + child.link
								const isCurrentPage = currentPageMatch === child.link

								return (
									<li class=`mt-1 group border-b-2 border-b-basetext/10 last:border-b-0 pb-1`>
										<a
											class=`rounded-md group-hover:border-b-transparent block px-4 py-1 text-sm ${isCurrentPage ? 'bg-basetext/90 font-extrabold text-theme-inverted' : 'hover:bg-basetext/10'}`
											href={url}
											aria-current={isCurrentPage ? 'page' : false}
										>
											{child.text}
										</a>
									</li>
								)
							})}
						</ul>
					</div>
				</li>
			))
		}
	</ul>
</nav>

<script is:inline>
window.addEventListener('DOMContentLoaded', () => {
	const target = document.querySelector('[aria-current="page"]')

	if (target && target.offsetTop > window.innerHeight - 100) {
		document.querySelector('.nav-groups').scrollTop = target.offsetTop
	}
})
</script>
