---
import { SIDEBAR } from '../../config'

type Props = {
	currentPage: string
}

const { currentPage } = Astro.props as Props
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1)
---

<nav aria-labelledby='grid-left'>
	<ul class='nav-groups'>
		{
			Object.entries(SIDEBAR).map(([header, children]) => (
				<li>
					<div class='nav-group'>
						<h2 class='title'>{header}</h2>
						<ul>
							{children.map((child) => {
								const url = Astro.site?.pathname + child.link
								return (
									<li class='nav-link'>
										<a
											href={url}
											aria-current={
												currentPageMatch === child.link ? 'page' : false
											}
										>
											{child.text}
										</a>
									</li>
								)
							})}
						</ul>
					</div>
				</li>
			))
		}
	</ul>
</nav>

<script is:inline>
window.addEventListener('DOMContentLoaded', () => {
	var target = document.querySelector('[aria-current="page"]')
	if (target && target.offsetTop > window.innerHeight - 100) {
		document.querySelector('.nav-groups').scrollTop = target.offsetTop
	}
})
</script>

<style>
	.title {
		font-size: 1.2rem;
		font-weight: normal;
	}

	.nav-groups li:not(:first-child) .title {
		border-top: 1px var(--sidebar-item-hover) solid;
		padding-top: 2rem;
		margin-top: 2rem;
	}

	nav {
		width: 100%;
		margin-right: 1rem;
	}

	.nav-groups {
		height: 100%;
		padding: 2rem 1rem;
		overflow-x: visible;
		overflow-y: auto;
		max-height: 100vh;
	}

	.nav-groups > li + li {
		margin-top: 2rem;
	}
	.nav-groups > :first-child {
		padding-top: var(--doc-padding);
	}

	.nav-groups > :last-child {
		padding-bottom: 2rem;
		margin-bottom: var(--theme-navbar-height);
	}

	.nav-group-title {
		font-size: 1rem;
		font-weight: 700;
		padding: 0.1rem 1rem;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	.nav-link a {
		font-size: 1rem;
		margin-bottom: 10px;
		padding: 0.7rem 1rem;
		font: inherit;
		color: inherit;
		text-decoration: none;
		display: block;
		border-radius: 1rem;
		width: calc(100% - 10px);
		border: 1px solid var(--sidebar-item-hover);
		text-align: center;
	}

	@media (prefers-reduced-motion: no-preference) {
		.nav-link a {
			transition: 0.3s;
		}
	}

	.nav-link a:hover,
	.nav-link a:focus {
		background-color: var(--sidebar-item-hover);
	}

	@media (prefers-reduced-motion: no-preference) {
		.nav-link a:hover,
		.nav-link a:focus {
			transition: background-color 0.1s;
		}
	}

	.nav-link a[aria-current='page'] {
		color: var(--sidebar-item-active-text);
		background-color: var(--sidebar-item-active);
		box-shadow: var(--sidebar-item-active-shadow);
		border: none;
		font-weight: 600;
	}

	@media (max-width: 450px) {
		.nav-link a {
			padding: 1.2rem 0.5rem;
		}
	}

	@media (min-width: 50em) {
		.nav-groups {
			padding: 0;
		}
	}
</style>
