---
type Props = {
	text: string
	isExternal?: boolean
	classes?: string
	href: string
	title: string
}

const { text, href, isExternal, classes, title }: Props = Astro.props

const css = `docs-btn ${classes ? classes : ''}`
---

<a
	title={title}
	class={css}
	href={href}
	rel={isExternal ? 'noopener noreferrer' : ''}
	target={isExternal ? '_blank' : ''}
	><span>{text}</span>
</a>

<style lang='scss'>
	.docs-btn,
	.docs-btn:active,
	.docs-btn:hover,
	.docs-btn:focus {
		text-decoration: none;
	}

	.docs-btn {
		font-size: 1.3rem;
		background-color: var(--docs-btn-bg);
		color: var(--docs-btn-text);
		font-weight: bold;
		padding: 1rem 1.2rem;
		border-radius: 8px;
		flex: 1;
		white-space: nowrap;
		transition: cubic-bezier(0.17, 0.67, 0.11, 0.98) 0.3s;
		font-family: var(--font-special);

		&:hover {
			box-shadow: rgba(0, 0, 0, 0.23) 0 2px 5px, var(--docs-btn-bg) 0 4px 0,
				0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
				0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
				0 16px 16px rgba(0, 0, 0, 0.12);
			transform: translateY(-2px);

			opacity: 1;
			span::before {
				width: 100%;
			}
		}

		&.repo {
			border: 2px var(--docs-btn-bg) solid;
			background-color: transparent;
			color: var(--repo-btn-text);
			span::before {
				background-color: var(--repo-btn-text);
			}
		}

		&:active {
			box-shadow: 0 2px 4px rgb(45 35 66 / 40%),
				0 7px 13px -3px rgb(45 35 66 / 30%),
				inset 0 5px 5px rgba(23, 26, 44, 0.344);
			transform: translateY(2px);
		}
		span {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 0;
				width: 0%;
				height: 4px;
				border-radius: 2px;
				background-color: var(--docs-btn-text);
				transition: 0.2s;
			}
		}
	}
</style>
