---
type Props = {
	isExternal?: boolean
	classes?: string
	href: string
	title: string
	glow?: boolean
}

const { href, isExternal, classes, title, glow }: Props = Astro.props

const css = `docs-btn ${glow ? 'glow' : ''} ${classes ? classes : ''}`
---

<a
	title={title}
	class={css}
	href={href}
	rel={isExternal ? 'noopener noreferrer' : ''}
	target={isExternal ? '_blank' : ''}
	><span class='inner-text'> <slot /></span>
</a>

<style lang='scss'>
	:root:not(.theme-oled):not(.theme-dark) {
		.docs-btn {
			border: 1px solid var(--theme-text);
			.inner-text {
				border-color: var(--theme-accent);
			}
		}
	}

	.inner-text {
		width: 100%;
		height: 100%;
		border: 2px solid var(--bewebdev-pink);
		display: block;
		border-radius: 50px;
		transition: scale 0.3s cubic-bezier(0.17, 0.67, 0.11, 0.98);
		padding: 1rem 1.2rem;
		@media (min-width: 1000px) {
			padding: 0.3rem 1.2rem;
		}
	}

	.docs-btn,
	.docs-btn:active,
	.docs-btn:hover,
	.docs-btn:focus {
		text-decoration: none;
	}

	.docs-btn {
		display: grid;
		place-items: center;
		padding: 0.3rem;
		font-size: 1.3rem;
		color: var(--font-body);
		font-weight: bold;

		@media (prefers-reduced-motion: no-preference) {
			transition: text-shadow 0.1s;
		}

		background-image: linear-gradient(
			to bottom,
			transparent,
			var(--bewebdev-pink-saturated)
		);

		:not(&.repo) {
		}

		&.glow {
			.inner-text {
				box-shadow: 0 0 5px var(--bewebdev-pink-saturated),
					inset 0 0 5px var(--bewebdev-pink-saturated),
					0 0 25px var(--bewebdev-pink-saturated);
			}

			&:hover,
			&:focus {
				--main-glow: #a66fff;
				--secondary-glow: #8e62d5;
				text-shadow: 0 0 7px var(--main-glow), 0 0 10px var(--main-glow),
					0 0 21px var(--main-glow), 0 0 42px var(--secondary-glow),
					0 0 82px var(--secondary-glow), 0 0 92px var(--secondary-glow),
					0 0 102px var(--secondary-glow), 0 0 151px var(--secondary-glow);
			}

			text-shadow: 0 0 0 var(--main-glow), 0 0 0 var(--main-glow),
				0 0 0 var(--main-glow), 0 0 0 var(--secondary-glow),
				0 0 0 var(--secondary-glow), 0 0 0 var(--secondary-glow),
				0 0 0 var(--secondary-glow), 0 0 0 var(--secondary-glow);
		}

		border-radius: 50px;
		flex: 1;
		white-space: nowrap;

		font-family: var(--font-special);

		&.repo {
			@media (prefers-reduced-motion: no-preference) {
				transition: background-color 0.2s;
			}

			background-image: none;
			.inner-text {
				border-color: var(--bewebdev-pink);
				border-style: dashed;

				@media (prefers-reduced-motion: no-preference) {
					transition: border-color 0.3s;
				}
			}
			&:hover,
			&:focus {
				background-color: var(--bewebdev-purple);
				.inner-text {
					border-color: var(--font-body);
				}
			}
		}
	}
</style>
