---
import Header from '../Header/Header.astro';
import LandingPageEndingCTA from './LandingPageEndingCTA.astro';
import LandingPageFooter from './LandingPageFooter.astro';
import LandingPageLinks from './LandingPageLinks.astro';
import Comparison from './Promo/Comparison.astro';
const currentPage = Astro.url.pathname;
import { Promo } from './Promo/Promo';
---

<style is:global>
	header {
		background-color: transparent;
	}

	body {
		--theme-text: #fff;
	}
</style>

<body>
	<Header currentPage={currentPage} />
	<main>
		<div class='welcome'>
			<div class='content'>
				<h2>The best way to learn web development</h2>
				<p>Carefully selected, verified, up to date</p>
				<LandingPageLinks />
			</div>
			<img
				aria-hidden='true'
				class='puzzle'
				src='/images/misc/puzzle.webp'
				alt=''
			/>
		</div>
		<Promo client:only='react' />
		<Comparison />
		<LandingPageEndingCTA />
	</main>
	<LandingPageFooter />
	<style>
		* {
			color: white;
		}

		.welcome {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex: 1;

			position: relative;
			overflow-x: hidden;
			min-height: 91vh;
		}

		main {
			flex: 1;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}

		h2 {
			text-align: center;
			z-index: 1;
			font-family: 'Inter', sans-serif;
			font-size: clamp(2rem, 5vw, 3.5rem);
			color: white;
		}

		body {
			display: flex;
			flex-direction: column;
			background-image: linear-gradient(to bottom, #1c1531 4%, transparent 30%),
				radial-gradient(circle at 15% 15%, #f806b0 0%, #1c1531 70%);
			overflow-x: hidden;
		}

		.attribution {
			text-align: center;
		}

		.puzzle {
			max-height: 50%;
			max-width: 90vw;
			position: absolute;
			z-index: 0;
			aspect-ratio: 1596/1222;
			animation: rotate 200s infinite linear;
		}

		.content {
			z-index: 1;
			width: min(500px, 95vw);
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.content p {
			color: white;
		}

		@keyframes rotate {
			from {
				rotate: 0deg;
			}
			to {
				rotate: 360deg;
			}
		}

		@media (max-width: 768px) {
			.puzzle {
				opacity: 0.5;
			}
		}

		@media (min-width: 768px) {
			.puzzle {
				position: relative;
				width: 500px;
			}

			.welcome {
				flex-direction: row;
			}
		}
	</style>
</body>
