<h2 class='sr-only'>Image attribution links</h2>
<ul>
	<li>
		<a target='_blank' class='attribution' href='http://www.freepik.com'
			>Landing page image by pikisuperstar / Freepik</a
		>
	</li>
	<li>
		<a target='_blank' class='attribution' href='https://storyset.com/online'
			>Online illustrations by Storyset</a
		>
	</li>
</ul>

<style>
	a {
		color: white;
	}

	ul {
		list-style: none;
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
	}
</style>
