---
import DocsBtn from './DocsBtn.astro';
---

<div class='root'>
	<h2>Are you ready to learn?</h2>
	<DocsBtn href='/introduction' text='Get to the docs' />
</div>

<style>
	.root {
		margin: 5rem auto;
		margin-bottom: 10rem;
		max-width: 1200px;
		width: min(100%, 90vw);
		display: grid;
		place-items: center;
	}
</style>
