---
import FooterCommonLinksList from '../Footer/FooterCommonLinksList.astro';
import LandingImageAttribution from './LandingImageAttribution.astro';
---

<footer>
	<h2 class='sr-only'>Footer links</h2>
	<FooterCommonLinksList />
	<LandingImageAttribution />
</footer>

<style>
	footer {
		background-color: #000;
		color: #fff;
		padding: 20px;
		z-index: 2137;
		position: relative;
	}
	footer ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	footer ul li {
		display: inline-block;
		margin-right: 20px;
	}
	footer ul li a {
		color: #fff;
	}
</style>
