<div>
	<a target='_blank' class='attribution' href='http://www.freepik.com'
		>Landing page image by pikisuperstar / Freepik</a
	>
</div>

<style>
	div {
		background-color: #f806b0;
		text-align: center;
	}

	div a {
		color: white;
	}
</style>
