---
import Header from '../Header/Header.astro'
import LandingPageEndingCTA from './LandingPageEndingCTA.astro'
import LandingPageFooter from './Footer/LandingPageFooter.astro'
import Comparison from './Comparison/Comparison.astro'
const currentPage = Astro.url.pathname
import { Promo } from './Promo/Promo'
import WelcomeSection from './WelcomeSection/WelcomeSection.astro'
import { GitStarPromoSection } from './Promo/GitStarPromoSection/GitStarPromoSection'
---

<style>
	* {
		color: var(--theme-text);
	}

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	h2 {
		text-align: center;
		z-index: var(--z-elevated);
		font-size: clamp(2rem, 5vw, 3.5rem);
		color: var(--theme-text);
	}

	body {
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(
				to bottom,
				var(--bewebdev-purple) 4%,
				transparent 30%
			),
			radial-gradient(
				circle at 15% 15%,
				var(--bewebdev-pink) 0%,
				var(--bewebdev-purple) 70%
			);
		overflow-x: hidden;
	}

	.attribution {
		text-align: center;
	}
</style>

<style is:global>
	header {
		background-color: rgba(255, 255, 255, 0);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}

	body {
		font-family: var(--font-serious);
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: var(--font-special);
	}
</style>

<body>
	<Header currentPage={currentPage} />
	<main>
		<WelcomeSection />
		<Promo client:load />
		<Comparison />
		<GitStarPromoSection client:load />
		<LandingPageEndingCTA />
	</main>
	<LandingPageFooter />
</body>
