<div>
	<a target='_blank' class='attribution' href='http://www.freepik.com'
		>Landing page image by pikisuperstar / Freepik</a
	>
</div>

<style>
	div {
		text-align: center;
	}

	div a {
		color: white;
	}
</style>
