---
import DocsBtn from './DocsBtn.astro'
---

<div class='root'>
	<div class='text'>
		<h2>Are you ready to learn?</h2>
		<DocsBtn title='Docs page' href='/introduction' text='Get Started' />
	</div>
	<div class='bottom-grad' aria-hidden='true'></div>
</div>

<style>
	.root {
		margin: 0 auto;
		padding-top: 5rem;
		padding-bottom: 10rem;
		max-width: 1200px;
		width: min(100%, 90vw);
		display: grid;
		place-items: center;
		position: relative;
	}

	.text {
		text-align: center;
		position: relative;
		z-index: var(--z-floating-elevated);
	}

	.text h2 {
		text-shadow: rgba(0, 0, 0, 0.399) 0 -15px 10px;
		margin-bottom: 3rem;
	}

	DocsBtn {
		box-shadow: rgba(0, 0, 0, 0.818) 0 -25px 10px;
	}

	.bottom-grad {
		content: '';
		display: block;
		aspect-ratio: 1/1;
		width: 100vw;
		background-image: radial-gradient(
			ellipse at center,
			var(--bewebdev-red) 0%,
			rgba(255, 255, 255, 0) 70%
		);
		position: absolute;
		z-index: var(--z-elevated-higher);
		top: 80%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		user-select: none;
	}

	@media screen and (max-width: 600px) {
		.bottom-grad {
			top: 50%;
			left: 50%;
			width: 200%;
			transform: translate(-50%, -50%);
		}
	}
</style>
