.root {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 3rem;
	align-items: center;
	flex-basis: 200px;
	flex-wrap: wrap;
	width: min(100%, 90vw);
}

.text {
	position: relative;
	z-index: 200;
}

.text * {
	color: white;
}

.root>div {
	flex: 1 1 200px;
}

.imgContainer {
	position: relative;
	height: auto;
	aspect-ratio: 4/3;
}

.imgContainer img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	max-height: 50vh;
}

.left {
	flex-direction: row;
}

.right {
	flex-direction: row-reverse;
}



.iconOne {
	top: 0;
	left: 0;
	transform: translate3d(20%, -21%, 0);
	rotate: 10deg;
}

.iconTwo {
	top: 0;
	right: 0;
	transform: translate3d(20%, 24%, 0) scale(0.8);
	rotate: -20deg;
}

.root:nth-child(4) .iconOne img {
	animation: rotate 35s infinite linear;
}

.root:nth-child(4) .iconTwo img {
	animation: rotate 25s infinite linear reverse;
}

.root:nth-child(4) .iconThree img {
	animation: rotate 85s infinite linear;
}

.iconThree {
	bottom: 0;
	left: 30%;
	transform: translate3d(-50%, 24%, 0) scale(1.5);
	rotate: -35deg;
}

@keyframes rotate {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}
}

.right .iconOne {
	transform: translate3d(-20%, 21%, 0);
}

.right .iconTwo {
	transform: translate3d(-20%, -24%, 0) scale(0.8);
}

.right .iconThree {
	transform: translate3d(50%, -24%, 0) scale(1.5);
}

@media screen and (max-width: 768px) {
	.root {
		gap: 5rem;
	}

	.iconOne,
	.iconTwo,
	.iconThree {
		opacity: 0.3;
	}

	.iconOne {
		top: -50%;
		scale: 2;
	}

	.iconTwo {
		top: -20%;
		scale: 1.5;
	}

	.iconThree {
		bottom: -20%;
		scale: 2.5;
	}
}