---
export type Props = {
	name: string
	downside: string
	icon: string
}

const { name, downside, icon }: Props = Astro.props
---

<li class='side-by-side'>
	<div>
		<p class='card-title'>{name}</p>
		<p>{downside}</p>
	</div>
	<div class='icon'>{icon}</div>
</li>

<style lang='scss'>
	.side-by-side {
		transition: opacity 1s translate 1s;
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		align-items: center;
	}

	li {
		background-color: var(--theme-bg);
		padding: 1rem;
		border-radius: 1rem;
		box-shadow: 0 2.8px 2.8px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12), inset var(--theme-text) 0 5px 15px -19px;
	}

	li * {
		color: var(--theme-text);
	}

	.card-title {
		margin: 0;
		font-size: 1.8rem;
		font-weight: bold;
		font-family: var(--font-special);
	}

	.icon {
		font-size: 5rem;
	}
</style>
