---
import TableOfContents from './TableOfContents'
import MoreMenu from './MoreMenu.astro'
import type { MarkdownHeading } from 'astro'

type Props = {
	headings: MarkdownHeading[]
	githubEditUrl: string
}

const { headings, githubEditUrl } = Astro.props as Props
---

<nav class='w-full sticky top-0' aria-labelledby='grid-right'>
	<div class='h-full overflow-auto pb-32'>
		<TableOfContents client:only='preact' headings={headings} />
		<MoreMenu editHref={githubEditUrl} />
	</div>
</nav>
