---
import { SIDEBAR } from '../../config'

const urls = Object.values(SIDEBAR)

const currentPage = Astro.url.pathname

const getThreeRandomLinks = () => {
	const randomLinks: {
		link: string
		text: string
	}[] = []

	while (randomLinks.length < 3) {
		const randomSection = urls[Math.floor(Math.random() * urls.length)]
		if (!randomSection) continue
		const randomLink =
			randomSection[Math.floor(Math.random() * randomSection.length)]
		if (
			!randomLink ||
			'/' + randomLink.link === currentPage ||
			randomLink.text === 'Introduction' ||
			randomLinks.find((link) => link.text === randomLink.text)
		) {
			continue
		}
		randomLinks.push(randomLink)
	}
	return randomLinks
}

const sidebarLinks = getThreeRandomLinks()
---

<style lang='scss'>
	li {
		margin: 0 !important;
	}
</style>

<div class='m-auto mt-2'>
	<h2>Links you might like</h2>
	<ul class='flex items-center gap-4 flex-wrap mt-2'>
		{
			sidebarLinks.map(({ link, text }) => (
				<li class='m-0'>
					<a
						class='bg-theme-elevated block px-3 py-2 rounded-md m-0 hover:bg-basetext hover:text-theme-inverted transition-colors'
						href={`/${link}`}
					>
						{text}
					</a>
				</li>
			))
		}
	</ul>
</div>
