---
import { SIDEBAR } from '../../config'

const urls = Object.values(SIDEBAR)

const currentPage = Astro.url.pathname

const getThreeRandomLinks = () => {
	const randomLinks: {
		link: string
		text: string
	}[] = []

	while (randomLinks.length < 3) {
		const randomSection = urls[Math.floor(Math.random() * urls.length)]
		if (!randomSection) continue
		const randomLink =
			randomSection[Math.floor(Math.random() * randomSection.length)]
		if (
			!randomLink ||
			'/' + randomLink.link === currentPage ||
			randomLink.text === 'Introduction' ||
			randomLinks.find((link) => link.text === randomLink.text)
		) {
			continue
		}
		randomLinks.push(randomLink)
	}
	return randomLinks
}

const sidebarLinks = getThreeRandomLinks()
---

<style lang='scss'>
	.list {
		list-style: none;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 1rem;
		align-items: center;
		li > a {
			&::before {
				content: '' !important;
			}
		}
		li {
			margin: 0 !important;
			padding: 0;
		}
	}

	div.wrapper {
		margin-top: 4rem;
	}
</style>

<div class='wrapper'>
	<h2>Links you might like</h2>
	<ul class='flex items-center gap-4 flex-wrap'>
		{
			sidebarLinks.map(({ link, text }) => (
				<li class='m-0'>
					<a
						class='bg-theme-elevated block px-3 py-2 rounded-md m-0'
						href={`/${link}`}
					>
						{text}
					</a>
				</li>
			))
		}
	</ul>
</div>
