/* Global focus outline reset */
*:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 50em) {
	:root {
		--max-width: 46em;
	}
}

@font-face {
	font-family: Inter;
	src: url('/fonts/Inter-Regular.woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Nunito Italic';
	src: url('/fonts/Nunito-Italic-VariableFont_wght.woff2');
	font-display: swap;
}

@font-face {
	font-family: Nunito;
	src: url('/fonts/Nunito-VariableFont_wght.woff2');
	font-display: swap;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
