---
import DocsButton from './LandingElements/DocsButton.astro'
import LandingSection from './LandingSection.astro'

import VideoEmbed from '../LandingPage/VideoEmbed/VideoEmbed.astro'
import Advantages from './LandingSections/Advantages.astro'
import FAQ from './LandingSections/FAQ.astro'
import Footer from './LandingSections/Footer/Footer.astro'
---

<body class='bg-theme-base overflow-x-clip'>
	<LandingSection
		className='pt-14 xl:pt-8 mb-16 flex gap-28 relative items-center'
	>
		<div
			class='-z-10 bg-theme-accent-primary w-1/2 h-full rounded-full absolute select-none pointer-events-none left-0 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-10 blur-[200px]'
		>
		</div>
		<div
			class='-z-10 bg-theme-accent-secondary w-1/2 h-full rounded-full absolute select-none pointer-events-none left-1/2 top-0 -translate-x-1/2 -translate-y-1/2 opacity-50 blur-[200px]'
		>
		</div>
		<div class='grow-1 w-full'>
			<h2 class='text-theme-base text-4xl font-bold mb-8'>
				The <span class='gradient-text'>best way</span> to learn web development
			</h2>
			<p class='mb-8'>
				Learning resources, carefully selected, verified, up to date
			</p>
			<DocsButton />
		</div>
		<div class='grow-1 flex items-center justify-center w-full'>
			<img class='max-h-[500px]' src='/images/promo/wavy-edu.svg' alt='' />
		</div>
	</LandingSection>

	<div class='w-full mb-28 bg-gradient-to-r from-grad-start/10 to-grad-end/10'>
		<LandingSection className='flex py-16 gap-24 items-center justify-center'>
			<div class='grow-1 w-full flex items-center justify-center'>
				<img
					class='max-h-[500px]'
					src='/images/promo/Programming-amico.webp'
					alt=''
				/>
			</div>
			<div class='grow-1 w-full'>
				<h2 id="about-us" class='scroll-mt-44 text-3xl font-[600] mb-5'>
					<span class='text-xl block'>What is</span>
					<span class='gradient-text'>bewebdev.tech</span> all about?
				</h2>
				<p class='mb-4 text-theme-muted'>
					Introducing Bewebdev, your ultimate destination for learning web
					development. Why settle for scattered information when we've done the
					hard work for you? Discover the best resources, carefully chosen and
					verified, all in one convenient place.
				</p>
			</div>
		</LandingSection>
	</div>
	<LandingSection className='mb-52'>
		<VideoEmbed />
	</LandingSection>
	<Advantages />
	<FAQ />
	<Footer />
</body>
