---
import GlowText from '../../common/GlowText.astro'
import DocsBtn from '../DocsBtn.astro'
const YOUTUBE_CHANNEL_ID = 'UUww1wSWy6LvZjyEEHr7ypLA'

const LATEST_VIDEO_COUNT = 3

const CHANNEL_SUBSCRIBE_LINK =
	'https://www.youtube.com/@bewebdev?sub_confirmation=1'

const getLatestVideoLink = (index: number) => {
	return `https://www.youtube.com/embed?listType=playlist&list=${YOUTUBE_CHANNEL_ID}&index=${
		index + 1
	}`
}
---

<style lang='scss'>
	section {
		margin: 0 auto;
		text-align: center;
		margin-bottom: 2rem;
		width: min(90%, 1280px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	h2 {
		margin: 0 auto;
		padding: 0;
		width: 100%;
		margin-bottom: 1rem;
	}

	.description {
		max-width: 600px;
		color: var(--theme-text);
		margin-bottom: 0.8rem;
	}

	.videos-wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.video {
		flex: 1 1 300px;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		margin: 1rem auto;
		aspect-ratio: 16/9;
		border: none;
		filter: grayscale(0.8);

		&:hover {
			filter: none;
		}
	}
</style>

<div class='flex items-center gap-8'>
	<div class='flex-grow'>
		<iframe class='video' src={getLatestVideoLink(0)}></iframe>
	</div>
	<div>
		<h2 class='text-3xl font-bold mb-4'>
			We record <span class='gradient-text'>code reviews</span>
		</h2>
		<p class='description'>
			We believe that code review can be the best way to learn best practices
			and new ways to write code for both parties - code reviewer and code
			writer
		</p>
		<div class='relative w-fit h-fit group'>
			<div
				class='bg-gradient-to-r from-grad-start to-grad-end absolute left-0 top-0 w-full h-full group-hover:opacity-50 transition-opacity opacity-0 scale-125 pointer-events-none blur-md rounded-full duration-700 saturate-200 brightness-125'
			>
			</div>
			<a
				class='transition ease-out group relative block bg-gradient-to-r from-grad-start to-grad-end py-3 px-8 rounded-md text-white font-bold hover:scale-110'
				href={CHANNEL_SUBSCRIBE_LINK}
				><span class='ease-out group-hover:scale-90 block transition'
					>Visit our channel</span
				></a
			>
		</div>
	</div>
</div>
<div class='videos-wrapper'>
	{
		Array.from({ length: LATEST_VIDEO_COUNT }).map((_, index) => {
			const embedSource = getLatestVideoLink(index + 1)
			return <iframe class='video' src={embedSource} />
		})
	}
</div>

<script>
	import { getUserIsFromPoland } from './helpers'
	const isFromPoland = getUserIsFromPoland()

	const removeCTAElement = () => {
		const youtubeCTAElement =
			document.querySelector<HTMLElement>('#youtube-cta')
		if (youtubeCTAElement) youtubeCTAElement.style.display = 'none'
	}

	if (!isFromPoland) {
		removeCTAElement()
	}
</script>
