---
import HeadCommon from '../components/HeadCommon.astro'

import LandingPage from '../components/LandingPage/LandingPage.astro'
import LandingSEO from '../components/LandingPage/LandingSEO.astro'
import type { Frontmatter } from '../config'
import * as CONFIG from '../config'

export interface Props {
	frontmatter: Frontmatter
	canonicalUrl: URL
}

const frontmatter: Frontmatter = {
	description: '',
	title: 'bewebdev.tech - the best web development learning materials',
	layout: '',
}
---

<html>
	<head>
		<HeadCommon />
		<LandingSEO />
		<link
			href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'
			rel='stylesheet'
		/>
		<title>
			{frontmatter.title ? `${frontmatter.title}` : CONFIG.SITE.title}
		</title>
	</head>
	<LandingPage />
</html>
