---
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header/Header.astro';

import HeadSEO from '../components/HeadSEO.astro';
import type { Frontmatter } from '../config';
import * as CONFIG from '../config';

export interface Props {
	frontmatter: Frontmatter;
	canonicalUrl: URL;
}

const frontmatter: Frontmatter = {
	description: '',
	title: 'bewebdev.tech - the best web development learning materials',
	layout: '',
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
---

<html>
	<head>
		<HeadCommon />
		<HeadSEO canonicalUrl={canonicalURL} frontmatter={frontmatter} />
		<link
			href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'
			rel='stylesheet'
		/>
		<title>
			{frontmatter.title ? `${frontmatter.title}` : CONFIG.SITE.title}
		</title>
	</head>
	<style>
		.docs-btn,
		.docs-btn:active,
		.docs-btn:hover,
		.docs-btn:focus {
			text-decoration: none;
		}

		.docs-btn {
			font-size: 1.3rem;
			background-color: white;
			color: black;
			font-weight: bold;
			padding: 1rem 2rem;
			border-radius: 8px;

			transition: box-shadow 0.15s ease, transform 0.15s ease;
		}
		.docs-btn:hover {
			box-shadow: rgba(0, 0, 0, 0.23) 0 2px 5px, rgb(255, 255, 255) 0 4px 0;
			transform: translateY(-2px);
			opacity: 1;
		}
		.docs-btn:active {
			box-shadow: 0 2px 4px rgb(45 35 66 / 40%),
				0 7px 13px -3px rgb(45 35 66 / 30%),
				inset 0 5px 5px rgba(23, 26, 44, 0.344);
			transform: translateY(2px);
		}

		.docs-btn span {
			position: relative;
		}

		.docs-btn span::before {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0%;
			height: 2px;
			background-color: black;
			transition: 0.2s;
		}

		.docs-btn:hover span::before {
			width: 100%;
		}

		.docs-btn.repo span::before {
			background-color: white !important;
		}

		.repo {
			border: 2px white solid;
			background-color: transparent;
			color: white;
		}

		main {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex: 1;
			background-image: linear-gradient(to bottom, #1c1531, #f806b0);
			position: relative;
			overflow-x: hidden;
		}

		h2 {
			text-align: center;
			z-index: 1;
			font-family: 'Work Sans', sans-serif;
			font-size: clamp(2rem, 5vw, 3.5rem);
			color: white;
		}

		body {
			display: flex;
			flex-direction: column;
		}

		.attribution {
			text-align: center;
		}

		.links {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.links a {
			flex: 1;
			white-space: nowrap;
		}

		.puzzle {
			max-height: 50%;
			max-width: 90vw;
			position: absolute;
			z-index: 0;
			aspect-ratio: 1596/1222;
			animation: rotate 200s infinite linear;
		}

		.content {
			z-index: 1;
			width: min(500px, 95vw);
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.content p {
			color: white;
		}

		footer {
			background-color: #f806b0;
			text-align: center;
		}

		@keyframes rotate {
			from {
				rotate: 0deg;
			}
			to {
				rotate: 360deg;
			}
		}

		@media (max-width: 768px) {
			.puzzle {
				opacity: 0.5;
			}
		}

		@media (min-width: 768px) {
			.puzzle {
				position: relative;
				width: 500px;
			}

			main {
				flex-direction: row;
			}
		}
	</style>
	<body>
		<Header currentPage={currentPage} />
		<main>
			<div class='content'>
				<h2>Web development learning materials</h2>
				<p>Carefully selected, verified, up to date</p>
				<div class='links'>
					<a class='docs-btn' href='/introduction'
						><span>Get to the docs</span>
					</a>
					<a
						class='docs-btn repo'
						href='https://github.com/NowYouKnowProgramming/webdev-learning-materials'
						rel='noopener noreferrer'
						target='_blank'
						><span>Repository</span>
					</a>
				</div>
			</div>
			<img
				aria-hidden='true'
				class='puzzle'
				src='/images/misc/puzzle.webp'
				alt=''
			/>
		</main>
		<footer>
			<a class='attribution' href='http://www.freepik.com'
				>Landing page image by pikisuperstar / Freepik</a
			>
		</footer>
	</body>
</html>
