---
import HeadCommon from '../components/HeadCommon.astro'

import LandingSEO from '../components/LandingPage/LandingSEO.astro'
import QuizPage from '../components/Quiz/QuizPage.astro'
import type { Frontmatter } from '../config'
import * as CONFIG from '../config'
import Layout from '../layouts/Layout.astro'

export interface Props {
	frontmatter: Frontmatter
	canonicalUrl: URL
}

const frontmatter: Frontmatter = {
	description: '',
	title: 'bewebdev.tech - the best web development learning materials',
	layout: '',
}
---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en'}>
	<head>
		<HeadCommon />
		<LandingSEO />
		<title>
			{frontmatter.title ? `${frontmatter.title}` : CONFIG.SITE.title}
		</title>
	</head>

	<Layout>
		<QuizPage />
	</Layout>
</html>
