in

/** Style Algolia */
:root {
	--docsearch-primary-color: var(--theme-accent);
	--docsearch-logo-color: var(--theme-text);
}

.search-input {
	flex-grow: 1;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0.33em 0.5em;
	overflow: visible;
	font-weight: 500;
	font-size: 1rem;
	font-family: inherit;
	line-height: inherit;
	background-color: var(--theme-divider);
	border-color: var(--theme-divider);
	color: var(--theme-text-light);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.25rem;
	outline: 0;
	cursor: pointer;
	transition-timing-function: ease-out;
	transition-duration: 0.2s;
	transition-property: border-color, color;
	-webkit-font-smoothing: antialiased;
}

.search-input:hover,
.search-input:focus {
	color: var(--theme-text);
	border-color: var(--theme-text-light);
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
	color: var(--theme-text-light);
}

.search-input::placeholder {
	color: var(--theme-text-light);
}

.search-hint {
	margin-left: auto;
	padding: 3px 5px;
	display: none;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.125em;
	font-size: 13px;
	font-family: var(--font-mono);
	pointer-events: none;
	border-color: rgba(var(--color-text-muted), 20%);
	color: var(--theme-text-light);
	border-style: solid;
	border-width: 0px;
	border-radius: 0.25rem;
	line-height: 14px;
	box-shadow:
		lightgray inset 0 -2px,
		rgba(128, 128, 128, 0.308) 0 0 0 1px,
		rgba(0, 0, 0, 0.1) 0 2px 2px;
}

@media (min-width: 50em) {
	.search-hint {
		display: flex;
	}
}

/* ------------------------------------------------------------ *\
	DocSearch (Algolia)
\* ------------------------------------------------------------ */

.DocSearch-Modal .DocSearch-Hit a {
	box-shadow: none;
	border: 1px solid rgba(var(--color-text-muted), 30%);
}

.DocSearch-Hit[aria-selected='true'] a {
	box-shadow: 0 0 15px 150px rgba(var(--color-text-muted), 30%) inset;
	background-color: transparent !important;
}

.DocSearch-Modal {
	--docsearch-searchbox-focus-background: rgba(var(--color-bg-base), 30%);
	--docsearch-muted-color: rgb(var(--color-text-muted));
	--docsearch-searchbox-shadow: 0 0 0 2px rgb(var(--color-text-muted), 10%)
		inset;
	--docsearch-footer-background: rgb(var(--color-bg-base));
	--docsearch-modal-background: rgb(var(--color-bg-base));
	--docsearch-hit-active-color: rgb(var(--color-text-base));
	--docsearch-text-color: rgb(var(--color-text-base));
	--docsearch-hit-color: rgba(var(--color-text-muted), 50%);
	--docsearch-hit-background: rgb(var(--color-bg-base));
	--docsearch-footer-shadow: 0 -1px 0 0 rgba(var(--color-text-muted), 50%);

	border-radius: 4px;
	overflow: hidden;
	box-shadow: rgb(0 0 0 / 65%) 0 7px 29px 0;
}

.DocSearch-Footer {
	box-shadow: none;
	border-radius: 0;
}

.DocSearch-Form:focus-within {
	box-shadow: inset rgb(var(--color-text-muted)) 0 0 0 2px;
}

.DocSearch-Modal input:focus-visible {
	outline: none;
}

.DocSearch-Container {
	z-index: 99999 !important;
}

.DocSearch-SearchBar {
	padding: var(--docsearch-spacing) var(--docsearch-spacing);
}
