---
import FooterCommonLinksList from '../../Footer/FooterCommonLinksList.astro'
import ImageAttribution from './ImageAttribution.astro'
---

<footer>
	<h2 class='sr-only'>Footer links</h2>
	<FooterCommonLinksList />
	<ImageAttribution />
</footer>

<style>
	footer {
		background-color: var(--theme-bg);
		color: var(--theme-text);
		padding: 20px;
		z-index: var(--overlay-high);
		position: relative;
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	}
	footer ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
	footer ul li {
		display: inline-block;
		margin-right: 20px;
	}
	footer ul li a {
		color: var(--theme-text);
	}
</style>
