.dialogOverlay {
	background-color: #ffffff6a;
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	z-index: 5000;
}

.textEmphasis {
	background: linear-gradient(to right, #ed4264, #a824b6);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.dialogDescription {
	margin: 10px 0 20px;
	color: #fff;
	font-size: 15px;
	line-height: 1.5;
}

.dialogContent {
	z-index: 6000;
	background-color: #14071a;
	border-radius: 6px;
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 450px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.dialogContent:focus {
	outline: none;
}

.circle2 {
	background-color: #3a0ca4;
	filter: blur(100px);
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 50%;
}

.circle {
	background-color: #edbd42;
	filter: blur(100px);
	opacity: 0.5;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 20%;
	left: 0;
}

.scroll {
	position: relative;
	overflow-y: auto;
}

.list {
	padding: 0;
	padding-left: 1rem;
}

.dialogTitle {
	margin: 0;
	color: #fff;
	font-size: 20px;
	padding-bottom: 4px;
}

.subtitle {
	font-size: 17px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 10px;
}

.iconButton {
	font-family: inherit;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	position: absolute;
	top: 10px;
	padding: 0;
	right: 10px;
	cursor: pointer;
}
.iconButton:hover {
	background-color: #000;
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.donationWidget {
	border: none;
	width: 100%;
	padding: 4px;
	background: #f9f9f9;
	height: 720px;
	border-radius: 10px;
}
