---
type FooterLink = {
	name: string
	href: string
	title: string
}

const footerLinks: FooterLink[] = [
	{
		name: 'Visit repository',
		href: 'https://github.com/NowYouKnowProgramming/webdev-learning-materials',
		title: 'GitHub repository of bewebdev.tech',
	},
	{
		name: 'Suggest an improvement',
		href: 'https://github.com/NowYouKnowProgramming/webdev-learning-materials/issues',
		title: 'GitHub Issues section for bewebdev.tech',
	},
	{
		name: 'Contributors',
		href: 'https://github.com/NowYouKnowProgramming/webdev-learning-materials/graphs/contributors',
		title: 'All contributors of bewebdev.tech on GitHub',
	},
]
---

<ul>
	{
		footerLinks.map((link) => (
			<li>
				<a
					title={link.title}
					rel='noopener noreferrer'
					target='_blank'
					href={link.href}
				>
					{link.name}
				</a>
			</li>
		))
	}
</ul>

<style>
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
	ul li a {
		color: var(--theme-text);
	}
</style>
