---
import DocsBtn from '../DocsBtn.astro'
---

<div class='links'>
	<DocsBtn
		title='bewebdev.tech docs'
		href='/introduction'
		text='Start learning'
		glow
	/>
	<DocsBtn
		title='bewebdev.tech GitHub'
		href='https://github.com/NowYouKnowProgramming/webdev-learning-materials'
		text='Source Code'
		isExternal
		classes='repo'
	/>
</div>

<style>
	.links {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		gap: 0.3rem;
		flex-wrap: wrap;
		width: 100%;

		@media (min-width: 1000px) {
			gap: 1rem;
		}
	}

	.links a {
		flex: 1;
		white-space: nowrap;
	}
</style>
