---
import DocsBtn from '../DocsBtn.astro'
---

<div class='links'>
	<DocsBtn
		variant='glow'
		class='link'
		title='bewebdev.tech docs'
		href='/introduction'
	>
		Start learning
	</DocsBtn>
	<DocsBtn
		class='link'
		title='bewebdev.tech GitHub'
		href='https://github.com/NowYouKnowProgramming/webdev-learning-materials'
		isExternal
		variant='repo'
	>
		Source Code
	</DocsBtn>
</div>

<style>
	.links {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		gap: 0.3rem;
		flex-wrap: wrap;
		width: 100%;

		@media (min-width: 1000px) {
			gap: 1rem;
		}
	}

	.link {
		flex: 1;
		white-space: nowrap;
	}
</style>
