---
import MainLinks from './MainLinks.astro'
---

<div class={`welcome first-join`}>
	<div class='content'>
		<h2>The best way to learn web development</h2>
		<p>Carefully selected, verified, up to date</p>
		<MainLinks />
	</div>
	<img
		aria-hidden='true'
		class='puzzle'
		src='/images/misc/puzzle.webp'
		alt=''
	/>
</div>

<style lang='scss'>
	.welcome {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex: 1;

		position: relative;
		overflow-x: hidden;
		min-height: 91vh;
	}

	.puzzle {
		max-height: 50%;
		max-width: 90vw;
		position: absolute;
		z-index: var(--z-base);
		aspect-ratio: 1596/1222;
		animation: rotate 200s infinite linear;
	}

	.content {
		z-index: var(--z-elevated);
		width: min(500px, 95vw);
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@media (prefers-reduced-motion: no-preference) {
		.first-join {
			--appear-time: 2s;

			.content {
				animation: 1s slide-appear 0.5s backwards;
			}

			.puzzle {
				animation: rotate 200s infinite linear var(--appear-time),
					rotate-appear var(--appear-time);
			}
		}
	}

	.content p {
		color: var(--theme-text);
	}

	@keyframes rotate {
		from {
			rotate: 0deg;
		}
		to {
			rotate: 360deg;
		}
	}

	@keyframes rotate-appear {
		from {
			scale: 0.9;
			rotate: -30deg;
			opacity: 0;
			translate: 0 5%;
		}
		to {
			scale: 1;
		}
	}

	@keyframes slide-appear {
		from {
			translate: 0 5%;
			opacity: 0;
		}
		to {
			translate: 0 0;
			opacity: 1;
		}
	}

	@media (max-width: 982px) {
		.puzzle {
			opacity: 0.5;
		}
	}

	@media (min-width: 982px) {
		.puzzle {
			position: relative;
			width: 500px;
		}

		.welcome {
			flex-direction: row;
		}
	}
</style>

<script is:inline>
	const firstJoin = localStorage.getItem('firstJoin')
	if (firstJoin === 'false') {
		const welcomeSection = document.querySelector('.first-join')
		welcomeSection.classList.remove('first-join')
	} else {
		localStorage.setItem('firstJoin', 'false')
	}
</script>
