
---
import Hero from '../components/Redesign/LandingSections/Hero.astro'
import LandingSection from '../components/Redesign/LandingSection.astro'
import VideoEmbed from '../components/LandingPage/VideoEmbed/VideoEmbed.astro'
import AboutUs from '../components/Redesign/LandingSections/AboutUs.astro'
import Advantages from '../components/Redesign/LandingSections/Advantages.astro'
import FAQ from '../components/Redesign/LandingSections/FAQ.astro'
---
<body class='bg-theme-base overflow-x-clip font-sans'>
	<Hero/>
	<AboutUs />
	<LandingSection className='mb-52'>
		<VideoEmbed />
	</LandingSection>
	<Advantages />
	<FAQ />
</body>